body {
	font-size: 13px;
	font-family: Arial, sans-serif;
}

#mobileHeader {
	font-weight: bold;
	font-size: 7vh;
}

#mobileHeaderText {
	margin: 3%;
	text-align: center;
}

#connectLink, #presentationList li a {
	display: block;
	padding: .75em;

	text-decoration: none;
	font-weight: bold;

	color: white;
	background-color: #4285f4;

}

#connectLink {
	text-align: center;
	border: 1px solid #1266f1;
}

#connectLink:hover {
	background: #4d4d4d;
	color: white;
	border: 1px solid #3c3c3c;
}

#loaderGif {
	margin-left: .75em;
}

#error {
	display: none;
	color: #c00;
}

#presentationList {
	list-style-type: none;
	display: block;

	margin: 0;
	padding: 0;
}

#presentationList li.disabled a {
	color: black;
	background-color: #f0f0f0;
}

#driveViewContainer {
	position: absolute;
	top: 0;
	left: 0;
}

#skywardIntro {
	position: absolute;
	padding: 20px;
	top: 0;
	font-size: 18pt;
}

@media (min-width: 601px) {
	#mobileHeader {
		display: none;
	}

	#driveViewContainer {
		width: 350px;
	}
	#connectLinkDiv, #presentationList {
		margin: 17px;
		width: 316px;
	}

	#presentationList li a:hover {	/* looks awkward on mobile */
		background: #4d4d4d;
		color: white;
	}

	#skywardIntro {
		left: 350px;
	}
}

@media (max-width: 600px) {
	#mobileHeader {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}

	#expandButton {
		position: absolute;
		top: 50%;
		right: 5%;
		width: 36px;
		height: 36px;
		transform: translateY(-50%);
	}

	#driveViewContainer {
		width: 100%;
		top: 10%;
	}
	#connectLinkDiv, #presentationListDiv {
		margin: 5%;
		width: 90%;
	}

	#presentationList li a {
		padding-top: 8%;
		padding-bottom: 8%;
	}
	#presentationList li a:active {
		background: #4d4d4d;
		color: white;
	}

	#skywardIntro {
		width: 90%;
		left: -640px;
		height: 90%;
		background-color: white;
		top: 10%;
	}
}

#slugView {
	display: none;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	font-size: 18pt;
	font-size: 4vw;
}

#slugViewPadding {
	margin: 20px;
}

#slug {
	font-weight: bold;
	font-size: 24pt;
	font-size: 6vw;
}

#clickerControls {
	display: none;
}

#backButton, #nextButton {
	position: absolute;
	top: 0;
	width: 50%;
	height: 100%;

	border: none;
	font-size: 10vw;
	font-weight: bold;
}

#backButton {
	left: 0;
	background-color: #FFA8A8;
}

#nextButton {
	right: 0;
	background-color: #B3FF99;
}
